html{
    font-size:16px;
}
*{
    box-sizing:border-box;
}
header{
    width:100%;
    height:150px;
    background-color: black;
    position:fixed;
    top:0;
}
.logo_container{
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.logo_container h2{
    color:white;
    font-weight:500;
    font-family:"Londrina Solid";
    font-size:2.5rem;
}
.nav_links{
    background-color: black;
    width:100%;
    transform:scale(1,0);
    transform-origin:top;
    transition:transform 500ms ease-in-out;
}
.nav_links ul{
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
.nav_links a{
    margin-left:2%;
    opacity:0;
    transition:opacity 100ms ease-in-out;
}
.list_container{
    font-family:"Londrina Solid";
    font-weight:400;
    font-size:1.4rem;
    padding:2%;
    text-decoration:none;
    margin-left:1%;
    line-height: 1.3;
}
.list_item a{
    text-transform:uppercase;
    color:white;
    text-decoration: none;
}
.nav_links a:hover{
    color: #FFDE59;
}
.nav_toggle:checked ~ nav{
    transform:scale(1,1);
}
.nav_toggle:checked ~ nav a{
    opacity:1;
    transition:opacity 250ms ease-in-out 300ms;
}
.nav_toggle{
    display:none;
}
span{
    color:white;
}
.nav_toggle_label{
    display:flex;
    position:absolute;
    top:0;
    height:100%;
    align-items:flex-end;
    padding:3%;
    padding-bottom:4%;
}
.nav_toggle_label span,
.nav_toggle_label span::before,
.nav_toggle_label span::after{
    display:inline-block;
    background-color:white;
    height: 2px;
    width:1.5em;
    border-radius:2px;
    position:relative;
}
.nav_toggle_label span::before,
.nav_toggle_label span::after{
    content:'';
    position:absolute;
}
.nav_toggle_label span::before{
    bottom:7px;
}.nav_toggle_label span::after{
    top:7px;
}
.about_me{
    margin-top:170px;
}
.about_me h2{
    font-family: "Londrina Solid";
    font-size:2rem;
    text-align:center;
}
.about_me p{
    font-family: Lato;
    padding: 0 2%;
}
.par_and_img{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.profile_pic{
    border-radius:10px;
    max-width:95%;
    height:auto;
    margin-bottom:3%;
}
.projects h2{
    font-family: "Londrina Solid";
    font-size:2rem;
    text-align:center;
    margin:3%;
}
.project_list ul>li{
    list-style:disc inside;
    font-family:Lato;
    font-size:1.3rem;
    font-weight:900;
}

@media only screen and (min-width:900px){
    header{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .logo_container{
        flex-direction:row;
        justify-content:flex-start;
        margin-left:1%;
        grid-column: 1 / 3;

    }
    .logo{
        width:130px;
        height:130px;
    }
    .logo_container h2{
        font-size:4rem;
        margin:1%;
    }
    .nav_toggle_label{
        display:none;
    }
    .nav_links{
        transform:scale(1,1);
        color:white;
        grid-column:3 / 6;
        width:100%;
    }
    .nav_links ul{
        list-style:none;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
    .nav_links a{
        margin-left:0;
        opacity:1;
        font-size:2rem;
        position:relative;
    }
    .nav_links a::before{
        content:'';
        display:block;
        height: 5px;
        width:100%;
        top: -.5rem;
        background: #FFDE59;
        position:absolute;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }
    .nav_links a:hover::before{
        transform:scale(1,1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }
    .list_container{
        display:flex;
        height:100%;
        width:100%;
        align-items: flex-end;
        justify-content:flex-end;
        margin-top:1%;
    }
    .list_container .list_item{
        margin: 0 2%;
    }
    .par_and_img{
        display:flex;
        flex-direction:row;
        align-items:flex-start;
        justify-content:center;
    }
    .about_me p{
        max-width:800px;
    }
}